body {
  background: linear-gradient(to right, indigo, blue, purple, indigo, blue, purple, red, 
  indigo, blue, purple, indigo, blue, purple, red,
  indigo, blue, purple, indigo, blue, purple, red,
  indigo, blue, purple, indigo, blue, purple, red,
  indigo, blue, purple, indigo, blue, purple);
  color: white;
}

#handRank {
  position: fixed;
  bottom: 250px;
  right: 50px;
  background-color: #5a5f5f;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Comic Sans MS", cursive;
}

.vertical-line {
  position: fixed;
  bottom: 200px;
  right: 165px;
  width: 4px;
  height: 35px;
  background-color: grey;
}

.image-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  background-image: url('pokerplayer.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.75;
}

#chip-container {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

#chip-button {
  background: transparent url('chip.png') center/contain no-repeat;
  border: none;
  padding: 50px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

#chip-text {
  opacity: 0;
  transition: opacity 1s ease;
}

.show {
  opacity: 1;
}

.card:hover {
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.button {
  font-weight: bold;
  color: red;
  font-size: 25px;
}

/* Adjustments for payment form and message */
.payment-form {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 400px; /* Set the width of the payment form */
  background-color: rgba(255, 255, 255, 0.73); /* Translucent grey background */
  padding: 20px; /* Add padding to improve readability */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.highroller-text {
  position: fixed;
  bottom: 150px;
  left: 20px;
  font-weight: bold;
  font-size: 24px;
  color: goldenrod;
}


